* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Serif", serif;
  font-family: "Karla", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9ffff;
  min-height: 100vh;
  background-image: linear-gradient(white, #f9ffff, #ededed, rgb(234, 232, 232), rgb(212, 202, 202), rgba(78, 74, 74, 0.544));
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu .tobati {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 5px 5px 0px;
  border-radius: 50%;
}
.menu .logo {
  font-size: 20px;
  line-height: 50px;
}
.menu .enlaces a {
  list-style: none;
  font-size: 20px;
  margin: 0 10px;
  line-height: 110px;
  border-bottom: 4px solid transparent;
  transition: all 0.4s ease;
}
.menu .enlaces a i {
  padding-right: 5px;
}
.menu .enlaces a:hover {
  border-bottom: 4px solid #c7c7c7;
  text-decoration: none;
}
.menu #btn-menu {
  display: none;
}

.clima {
  position: relative;
  line-height: 110px;
  margin-left: 5px;
}

a {
  color: rgb(30, 26, 26);
  text-decoration: none;
}

li {
  list-style: none;
}

.social-media {
  width: 60px;
  height: auto;
  font-size: 35px;
  position: fixed;
  top: 35%;
  right: 3px;
  z-index: 999;
}
.social-media ul li a:hover {
  padding: 0 5px;
}
.social-media .fa-brands.fa-instagram:hover {
  color: #f42e78;
}
.social-media .fa-brands.fa-whatsapp:hover {
  color: #25d366;
}

.home {
  width: 1110px;
  height: 190vh;
  background-image: url(imagenes/20191228_165918.jpg);
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.conte-carru {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.fotoCarrusel {
  border-radius: 15px;
}
.fotoCarrusel img {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-previo {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
}

.btn-siguiente {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
}

.nosotros {
  margin-top: 30px;
  height: 500px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.izquierda {
  height: 500px;
  background-image: url(imagenes/quienSoy.jpg);
  background-size: cover;
}

.derecha h3 {
  text-align: center;
  font-size: 40px;
}
.derecha p {
  text-align: justify;
  font-size: 30px;
}
.derecha:hover {
  transition: 0.9s;
  background-color: rgba(188, 188, 188, 0.765);
}

.section {
  height: 400px;
  text-align: center;
}

.card {
  height: 350px;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
}

.card-servicios {
  background: var(--i);
  background-size: cover;
  font-size: 22px;
}

.card-body-servicios {
  padding: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.9s;
}
.card-body-servicios:hover {
  opacity: 1;
}

.card-noticias {
  margin: auto;
}

.card-noticias:hover {
  transition: 0.9s;
  background-color: rgba(0, 0, 0, 0.2);
}

.galeri {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px 350px 390px 410px;
  grid-template-areas: "a  a  b  c" "d  e  e  f" "g  h  i  i" "j  j  k  k";
  grid-gap: 5px;
}
.galeri .foto1 {
  grid-area: a;
}
.galeri .foto2 {
  grid-area: b;
}
.galeri .foto3 {
  grid-area: c;
}
.galeri .foto4 {
  grid-area: d;
}
.galeri .foto5 {
  grid-area: e;
}
.galeri .foto6 {
  grid-area: f;
}
.galeri .foto7 {
  grid-area: g;
}
.galeri .foto8 {
  grid-area: h;
}
.galeri .foto9 {
  grid-area: i;
}
.galeri .foto10 {
  grid-area: j;
}
.galeri .foto11 {
  grid-area: k;
}

.img-foto {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.img-foto:hover {
  transform: scale(1.02);
  transition: all 0.9s;
}

fieldset {
  background-image: url(imagenes/sobre.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border: transparent;
}

legend {
  text-align: center;
  font-size: 20px;
}

form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
}

label {
  margin-bottom: 0;
  margin-top: 8px;
}

button {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  transition: transform 200ms, box-shadow 200ms;
}
button:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
}

input, textarea {
  padding: 3px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

/* ************************************ */
footer {
  margin-top: 30px;
}
footer p {
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
}
footer iframe {
  margin-top: 0;
  border-radius: 10px;
  width: 100%;
  height: 245px;
}
footer img {
  margin-bottom: 8px;
}

.pie {
  height: auto;
  padding: 0;
}

.fotoPie {
  border-radius: 10px;
}

.ini, .subir {
  width: 35px;
  height: 35px;
  background-color: #000;
  position: fixed;
  right: 28px;
  text-align: center;
  font-size: 20px;
  color: white;
  line-height: 35px;
  border-radius: 50%;
}

.btn-inicio {
  top: 35px;
}

.subir {
  bottom: 40px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: subida;
          animation-name: subida;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes subida {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes subida {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .home { /*corresponde a Inicio*/
    height: 120vh;
    background-image: url(imagenes/20191228_165918.jpg);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .izquierda {
    height: 300px;
    background-image: url(imagenes/quienSoy.jpg);
    background-size: cover;
  }
  .derecha h3 {
    text-align: center;
    font-size: 30px;
  }
  .derecha p {
    text-align: justify;
    font-size: 20px;
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 100px;
    grid-template-areas: "a" "b";
  }
  .menu .zona-logo {
    grid-area: a;
    justify-self: center;
  }
  .menu .clima {
    grid-area: b;
    justify-self: center;
  }
  .menu .enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu .enlaces a {
    width: 100px;
    height: 55px;
    line-height: 60px;
    transition: all 0.6s ease;
  }
  .menu .enlaces a:hover {
    border-bottom: 4px solid #c7c7c7;
  }
  .fotoCarrusel img { /*Achico las imagenes del Carrusel en este Punto de Quiebre*/
    width: 49.6%;
    height: 250px;
  }
  .galeri {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*repetir 4 columnas, una fraccion c/u */
    grid-template-rows: repeat(11, 350px);
    grid-gap: 5px;
  }
  .galeri .foto1 {
    grid-column: 1/5;
  }
  .galeri .foto2 {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .galeri .foto3 {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  .galeri .foto4 {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  .galeri .foto5 {
    grid-column: 1/5;
    grid-row: 5/6;
  }
  .galeri .foto6 {
    grid-column: 1/5;
    grid-row: 6/7;
  }
  .galeri .foto7 {
    grid-column: 1/5;
    grid-row: 7/8;
  }
  .galeri .foto8 {
    grid-column: 1/5;
    grid-row: 8/9;
  }
  .galeri .foto9 {
    grid-column: 1/5;
    grid-row: 9/10;
  }
  .galeri .foto10 {
    grid-column: 1/5;
    grid-row: 10/11;
  }
  .galeri .foto11 {
    grid-column: 1/5;
    grid-row: 11/12;
  }
  .pie iframe {
    width: 530px;
    height: 250px;
    margin-left: 0px;
  }
  .pie iframe p {
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  .home { /*corresponde a Inicio*/
    height: 120vh;
    background-image: url(imagenes/20191228_165918.jpg);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .izquierda {
    height: 300px;
    background-image: url(imagenes/quienSoy.jpg);
    background-size: cover;
  }
  .derecha h3 {
    text-align: center;
    font-size: 30px;
  }
  .derecha p {
    text-align: justify;
    font-size: 20px;
  }
  .fotoCarrusel img { /*Achico las imagenes del Carrusel en este Punto de Quiebre*/
    width: 49.5%;
    height: 250px;
  }
  .galeri {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*repetir 4 columnas, una fraccion c/u */
    grid-template-rows: repeat(11, 350px);
    grid-gap: 5px;
  }
  .galeri .foto1 {
    grid-column: 1/5;
  }
  .galeri .foto2 {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .galeri .foto3 {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  .galeri .foto4 {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  .galeri .foto5 {
    grid-column: 1/5;
    grid-row: 5/6;
  }
  .galeri .foto6 {
    grid-column: 1/5;
    grid-row: 6/7;
  }
  .galeri .foto7 {
    grid-column: 1/5;
    grid-row: 7/8;
  }
  .galeri .foto8 {
    grid-column: 1/5;
    grid-row: 8/9;
  }
  .galeri .foto9 {
    grid-column: 1/5;
    grid-row: 9/10;
  }
  .galeri .foto10 {
    grid-column: 1/5;
    grid-row: 10/11;
  }
  .galeri .foto11 {
    grid-column: 1/5;
    grid-row: 11/12;
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr;
  }
  .menu .enlaces {
    width: 150%;
  }
  .menu .enlaces a {
    width: 90px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .home { /*corresponde a Inicio*/
    height: 160vh;
    background-image: url(imagenes/20191228_165918.jpg);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .izquierda {
    height: 350px;
    background-image: url(imagenes/quienSoy.jpg);
    background-size: cover;
  }
  .derecha h3 {
    text-align: center;
    font-size: 30px;
  }
  .derecha p {
    text-align: justify;
    font-size: 20px;
  }
  .fotoCarrusel img { /*Achico las imagenes del Carrusel en este Punto de Quiebre*/
    width: 49.7%;
    height: 250px;
  }
  .galeri {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*repetir 4 columnas, una fraccion c/u */
    grid-template-rows: repeat(6, 350px);
    grid-gap: 5px;
  }
  .galeri .foto1 {
    grid-column: a;
  }
  .galeri .foto2 {
    grid-column: 3/5;
  }
  .galeri .foto3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .galeri .foto4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .galeri .foto5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .galeri .foto6 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .galeri .foto7 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .galeri .foto8 {
    grid-column: 3/5;
    grid-row: 4/5;
  }
  .galeri .foto9 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .galeri .foto10 {
    grid-column: 3/5;
    grid-row: 5/6;
  }
  .galeri .foto11 {
    grid-column: 1/5;
    grid-row: 6/7;
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr;
  }
  .menu .enlaces {
    width: 150%;
  }
  .menu .enlaces a {
    width: 90px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1464px) {
  .home { /*corresponde a Inicio*/
    height: 200vh;
    background-image: url(imagenes/20191228_165918.jpg);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .izquierda {
    height: 350px;
    background-image: url(imagenes/quienSoy.jpg);
    background-size: cover;
  }
  .derecha h3 {
    text-align: center;
    font-size: 35px;
  }
  .derecha p {
    text-align: justify;
    font-size: 23px;
  }
  .fotoCarrusel img { /*Achico las imagenes del Carrusel en este Punto de Quiebre*/
    width: 49.7%;
    height: 250px;
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr;
  }
  .menu .enlaces {
    width: 150%;
  }
  .menu .enlaces a {
    width: 90px;
  }
}/*# sourceMappingURL=estilos.css.map */